@model IEnumerable<Practice.Models.Response> 

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ResponseId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UserId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Project.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LastName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PhoneNumber)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Checked)
        </th>
        <th></th>
    </tr>
@foreach (var item in Model)
{
    <tr>
        <td id="responseId">
               @Html.DisplayFor(modelItem => item.ResponseId)
        </td>
        <td id="id">
            @{
                if (item.UserId == null || item.UserId.HasValue == false)
                {
                    @Html.DisplayName("New")
                }
                else
                {
                    @Html.DisplayFor(modelItem => item.UserId)
                }
            }
        </td>
        <td id="project">
            @Html.DisplayFor(modelItem => item.Project.Name)
        </td>
        <td id="firstName">
            @Html.DisplayFor(modelItem => item.FirstName)
        </td>
        <td id="lastName">
            @Html.DisplayFor(modelItem => item.LastName)
        </td>
        <td id="email">
            @Html.DisplayFor(modelItem => item.Email)
        </td>
        <td id="phoneNumber">
            @Html.DisplayFor(modelItem => item.PhoneNumber)
        </td>
        <td id="check">
            @Html.DisplayFor(modelItem => item.Checked)
        </td>
        <td>
            <a href="" , class="checkButton">Check</a> |
            <a onclick="ajaxCRUD($(this).parent().parent(), 'Response', 'Edit')" href="#", class="editButton">Edit</a> |
            <a onclick="details($(this).parent().parent().find('#responseId').text(), 'Response')" href="#" , class="detailsButton">Details</a> |
            @*<a href="" , class="detailsButton">Details</a> |*@
            @Html.ActionLink("Details", "Details", new { id = item.ResponseId }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.ResponseId })
        </td>
    </tr>
}
</table>

<div id="dialog" style="display: none">
</div>

<script type="text/javascript">
    //toggles the checked parameter for responses so we know if a response has been seen and written down
    $(".checkButton").click(function() {
            event.preventDefault();
            var row = $(this).parent().parent();
            $.ajax({
                url: '@Url.Action("Check", "Response")',
                type: "POST",
                data: { "id": $(this).parent().parent().find("#responseId").html() },
                success: function (result) {
                    if (result.check == true) {
                        row.find("#check").replaceWith("<td id='check'><input checked='checked' class='check-box' disabled='disabled' type='checkbox'></td>");
                    } 
                    else {
                        row.find("#check").replaceWith("<td id='check'><input class='check-box' disabled='disabled' type='checkbox'></td>");
                    }
                }
            });
    });
</script>
